~*
*.swp
*.swo
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
/Debug/
/Release/
/benchmarks/
/PORT9.dat
/POWV9.dat
/benchmarks/
/benchmarks
.project
.cproject
/build
/docs
.DS_Store
3rdparty/LEF/include
3rdparty/LEF/bin
3rdparty/LEF/lib
3rdparty/LEF/lef/lef.tab.cpp
3rdparty/LEF/lef/lef.tab.h
3rdparty/LEF/lefdiff/lefdiff
3rdparty/LEF/lefrw/lefrw
3rdparty/LEF/lefwrite/lefwrite
*.o
*.a
