[submodule "3rdparty/verilog-parser"]
	path = 3rdparty/verilog-parser
    url = https://gitlab.com/eclufsc/eda/verilog-parser.git
[submodule "3rdparty/DEF"]
	path = 3rdparty/DEF
	url = https://gitlab.com/eclufsc/eda/DEF.git
[submodule "3rdparty/Flute"]
	path = 3rdparty/Flute
	url = https://gitlab.com/eclufsc/eda/Flute.git
[submodule "3rdparty/LEF"]
	path = 3rdparty/LEF
	url = https://gitlab.com/eclufsc/eda/LEF.git
[submodule "3rdparty/Lemon"]
	path = 3rdparty/Lemon
	url = https://gitlab.com/eclufsc/eda/Lemon.git
[submodule "3rdparty/units"]
	path = 3rdparty/units
	url = https://gitlab.com/eclufsc/eda/units.git
[submodule "3rdparty/libertyParser"]
	path = 3rdparty/libertyParser
	url = https://gitlab.com/eclufsc/eda/libertyParser.git
