~*
*.swp
*.swo
CMakeCache.txt
CMakeScripts
CMakeLists.txt.user
cmake_install.cmake
install_manifest.txt
/Debug/
/Release/
/benchmarks/
/PORT9.dat
/POWV9.dat
/benchmarks/
/benchmarks
.project
.cproject
/build
/docs
.DS_Store
/test/input_files/superblue18.v
