~*
*.swp
*.swo
CMakeCache.txt
CMakeFiles
CMakeScripts
CMakeLists.txt.user
Makefile
cmake_install.cmake
install_manifest.txt
/Debug/
/Release/
/benchmarks/
/PORT9.dat
/POWV9.dat
/benchmarks/
/benchmarks
.project
.cproject
