language: cpp

sudo: required
dist: trusty

compiler:
  - gcc

addons:
  apt:
    sources:
    # add PPAs with more up-to-date toolchains
    - ubuntu-toolchain-r-test
    - llvm-toolchain-precise-3.6
    packages:
    # install toolchains
    - gcc-5
    - g++-5
    - clang-3.6

before_script:
  - mkdir build && cd build
  - wget http://ftp.gnu.org/gnu/bison/bison-3.0.4.tar.gz
  - tar -zxvf bison-3.0.4.tar.gz
  - cd bison-3.0.4
  - mkdir inst
  - ./configure --prefix=$PWD/inst
  - make -j && make install
  - cd inst/bin
  - export PATH=$PWD:$PATH
  - cd ..
  - cd ..
  - cd ..
  - cmake ..

script: make -j && make -j test
